.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*flex-direction: row;*/
    background-color: #8B4513;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: rgb(175, 175, 175);
    min-height: 60px;
    padding: 0 25px;
    font-size: x-large;
    color: white;
  }
  
a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.menu {
    display: flex;
    margin-right: 25px;
}

.menu a {
    margin-left: 15px;
    font-size: large; 
}